/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #60a5fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;
}
